CONFIG_DRIVER_SERIAL_K1C_SCALL=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_BAUDRATE=38400
CONFIG_PINCTRL_SINGLE=y

CONFIG_CLOCKSOURCE_K1C=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_K1C=y
CONFIG_CMD_WD=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_OF_DUMP=y
CONFIG_RATP=y
CONFIG_CONSOLE_RATP=y

CONFIG_MTD=y
CONFIG_MTD_WRITE=y
CONFIG_MTD_SPI_NOR=y
CONFIG_MTD_SPI_NOR_USE_4K_SECTORS=y
CONFIG_SPI_SYNOPSYS_OCTALSPI_NOR=y
