CONFIG_AUTO_COMPLETE=y
CONFIG_BAUDRATE=115200
CONFIG_CLOCKSOURCE_KVX=y
CONFIG_CMD_CMP=y
CONFIG_CMD_OF_DUMP=y
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_RESET=y
CONFIG_CMD_WD=y
CONFIG_CONSOLE_RATP=y
CONFIG_DRIVER_SERIAL_KVX_SCALL=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_GPIO_DESIGNWARE=y
CONFIG_SPI_SYNOPSYS_OCTALSPI_NOR=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_KVX=y
