CONFIG_AUTO_COMPLETE=y
CONFIG_BAUDRATE=115200
CONFIG_BOOTCHOOSER=y
CONFIG_BOOT=y
CONFIG_CLOCKSOURCE_KVX=y
CONFIG_CMD_BOOT=y
CONFIG_CMD_BOOTCHOOSER=y
CONFIG_CMD_CMP=y
CONFIG_CMD_FLASH=y
CONFIG_CMD_LOADENV=y
CONFIG_CMD_NV=y
CONFIG_CMD_OF_DUMP=y
CONFIG_CMD_PRINTENV=y
CONFIG_CMD_POWEROFF=y
CONFIG_CMD_SAVEENV=y
CONFIG_CMD_STATE=y
CONFIG_CMD_RESET=y
CONFIG_CMD_WD=y
CONFIG_CONSOLE_RATP=y
CONFIG_DRIVER_SERIAL_KVX_SCALL=y
CONFIG_DRIVER_SERIAL_NS16550=y
CONFIG_GPIO_DESIGNWARE=y
CONFIG_MCI=y
CONFIG_MCI_DWC_MSHC=y
CONFIG_MCI_STARTUP=y
CONFIG_MTD=y
CONFIG_MTD_WRITE=y
CONFIG_MTD_SPI_NOR=y
CONFIG_STATE=y
CONFIG_STATE_DRV=y
CONFIG_SPI_SYNOPSYS_OCTALSPI_NOR=y
CONFIG_WATCHDOG=y
CONFIG_WATCHDOG_KVX=y
